{% if current_profile.get('financial') %}
    {% set profile = current_profile.get('financial') %}
{% else %}
    {% set profile = {} %}
{% endif %}

    <div class="ui container segment stretched green">
        <div class="ui header big">{{ session.get('statics').get('financial_info') }}</div>
        <p>{{ session.get('statics').get('financial_info_details')|safe }}</p>
        <div class="ui divider"></div>
        <div class="field">
            <label>{{ session.get('statics').get('gross_revenue') }}</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="gross_revenue" value="{% if profile.get('gross_revenue') %}{{ profile.get('gross_revenue') }}{% endif %}" id="amount">
                <div class="ui basic label">.00</div>
            </div>
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('gross_profit') }}</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="gross_profit" value="{% if profile.get('gross_profit') %}{{ profile.get('gross_profit') }}{% endif %}" id="amount">
                <div class="ui basic label">.00</div>
            </div>
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('ebitda') }}</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="ebitda" value="{% if profile.get('ebitda') %}{{ profile.get('ebitda') }}{% endif %}" id="amount">
                <div class="ui basic label">.00</div>
            </div>
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('total_inventory') }}</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="inventory" value="{% if profile.get('inventory') %}{{ profile.get('inventory') }}{% endif %}" id="amount">
                <div class="ui basic label">.00</div>
            </div>
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('office_furniture') }}</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="office_furniture" value="{% if profile.get('office_furniture') %}{{ profile.get('office_furniture') }}{% endif %}" id="amount">
                <div class="ui basic label">.00</div>
            </div>
        </div>
    </div>




<!-- Form validation -->
<script>
    $( ".ui.form" ).form({
        fields: {
            gross_revenue: {
                identifier: 'gross_revenue',
                rules: [{
                    type: 'number',
                    prompt: 'Please enter a valid number'
                }]
            },
            gross_profit: {
                identifier: 'gross_profit',
                rules: [{
                    type: 'number',
                    prompt: 'Please enter a valid number'
                }]
            },
            ebitda: {
                identifier: 'ebitda',
                rules: [{
                    type: 'number',
                    prompt: 'Please enter a valid number'
                }]
            },
            inventory: {
                identifier: 'inventory',
                rules: [{
                    type: 'number',
                    prompt: 'Please enter a valid number'
                }]
            },
            office_furniture: {
                identifier: 'office_furniture',
                rules: [{
                    type: 'number',
                    prompt: 'Please enter a valid number'
                }]
            }
        },
        inline: true,
    });
</script>