{% if current_profile.get('non_financial') %}
    {% set profile = current_profile.get('non_financial') %}
{% else %}
    {% set profile = {} %}
{% endif %}

    <div class="ui container segment stretched green">
        <div class="ui header big">Non Financial information</div>
        <p>The information provided in this section will be <strong>public</strong> and <strong>all users</strong> will be able to see it online</p>
        <div class="ui divider"></div>
        <div class="field">
            <label>Foundation year</label>
            <select name="foundation_year" class="ui fluid dropdown">
                <option value="{% if profile.get('foundation_year') %}{{ profile.get('foundation_year') }}{% endif %}"></option>
                {% for year in range(2017,1900,-1) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label>Reason for the sale</label>
            <input type="text" name="reason" value="{% if profile.get('reason') %}{{ profile.get('reason') }}{% endif %}">
        </div>
        <div class="field">
            <label>Target customers</label>
            <input type="text" name="target" value="{% if profile.get('target') %}{{ profile.get('target') }}{% endif %}">
        </div>
        <div class="field">
            <label>Development stage of the enterprise</label>
            <select name="dev_stage" class="ui fluid dropdown" id="dev_stage">
                <option value="{% if profile.get('dev_stage') %}{{ profile.get('dev_stage') }}{% endif %}"></option>
                <option value="startup">Startup</option>
                <option value="expanding">Expanding</option>
                <option value="established">Established</option>
                <option value="bankrupt">Decline</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Seller is open to finance the buyer?</label>
                <select name="finance" class="ui fluid dropdown">
                    <option value="{% if profile.get('finance') %}{{ profile.get('finance') }}{% endif %}"></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="later">To be discussed</option>
                </select>
            </div>
            <div class="field">
                <label>Seller can support after the sale?</label>
                <select name="after_sale" class="ui fluid dropdown">
                    <option value="{% if current_profile.get('after_sale') %}{{ current_profile.get('after_sale') }}{% endif %}"></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="later">To be discussed</option>
                </select>
            </div>
        </div>
        <div class="field">
            <label>Patent/License</label>
            <select name="patent" class="ui fluid dropdown">
                <option value="{% if profile.get('patent') %}{{ profile.get('patent') }}{% endif %}"></option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Number of full-time employees</label>
                <select name="fulltime" class="ui fluid dropdown">
                    <option value="{% if profile.get('fulltime') %}{{ profile.get('fulltime') }}{% endif %}"></option>
                    {% for emp in range(50) %}
                        <option value="{{ emp }}">{{ emp }}</option>
                    {% endfor %}
                    <option value="50">50 to 100</option>
                    <option value="100">100 to 500</option>
                    <option value="500">500 to 1000</option>
                    <option value="1000">Over 1000</option>
                </select>
            </div>
            <div class="field">
                <label>Number of part-time employees</label>
                <select name="parttime" class="ui fluid dropdown">
                    <option value="{% if profile.get('parttime') %}{{ profile.get('parttime') }}{% endif %}"></option>
                    {% for emp in range(51) %}
                        <option value="{{ emp }}">{{ emp }}</option>
                    {% endfor %}
                    <option value="51">Over 50</option>
                </select>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>The business has a lease/rent?</label>
                <select name="rent" class="ui fluid dropdown">
                    <option value="{% if profile.get('rent') %}{{ profile.get('patent') }}{% endif %}"></option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="field">
                <label>If yes, End date</label>
                <input type="text" name="end_date" value="{% if profile.get('end_date') %}{{ profile.get('title') }}{% endif %}">
            </div>
        </div>





    </div>




<!-- Form validation -->
<script>
    $( ".ui.form" ).form({
        fields: {
            scian1: {
                identifier: 'scian1',
                rules: [{
                    type: 'number',
                    prompt: 'Enter a valid number'
                }]
            },
            scian2: {
                identifier: 'scian2',
                rules: [{
                    type: 'number',
                    prompt: 'Enter a valid number'
                }]
            }
        },
        inline: true,
    });
</script>