{% if current_profile.get('profile') %}
    {% set profile = current_profile.get('profile') %}
{% else %}
    {% set profile = {} %}
{% endif %}

    <div class="ui container segment stretched green">
        <div class="ui header big">{{ session.get('statics').get('profile_business') }}</div>
        <p>{{ session.get('statics').get('profile_details')|safe }}</p>
        <div class="ui divider"></div>
        <div class="field">
            <label>{{ session.get('statics').get('title') }}</label>
            <input type="text" name="title" id="title" value="{% if profile.get('title') %}{{ profile.get('title') }}{% endif %}">
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('description') }}</label>
            <textarea type="text" id="description" rows="3" name="description">{% if profile.get('description') %}{{ profile.get('description') }}{% endif %}</textarea>
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('asking_price') }}</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="asking_price" value="{% if profile.get('asking_price') %}{{ profile.get('asking_price') }}{% endif %}">
                <div class="ui basic label">.00</div>
            </div>
        </div>
        <div class="field">
            <label>{{ session.get('statics').get('is_franchise') }}</label>
            <select id="franchise" name="franchise" class="ui fluid dropdown">
                <option value="{% if profile.get('franchise') %}{{ profile.get('franchise') }}{% endif %}"></option>
                <option value="yes">{{ session.get('statics').get('yes') }}</option>
                <option value="no">{{ session.get('statics').get('no') }}</option>
            </select>
        </div>

    </div>


<!-- Form validation -->
<script>
    $( ".ui.form" ).form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: 'Title of your listing is required'
                }]
            },
            description: {
                identifier: 'description',
                rules: [{
                    type: 'minLength[100]',
                    prompt: 'The description should be at least 100 characters'
                },{
                    type:'empty',
                    prompt: 'A description is required'
                }]
            },
            asking_price: {
                identifier: 'asking_price',
                rules: [{
                    type: 'decimal',
                    prompt: 'Please enter a valid only digits value'
                }]
            }
        },
        inline: true,
    });
</script>