{% if current_profile.get('profile') %}
    {% set profile = current_profile.get('profile') %}
{% else %}
    {% set profile = {} %}
{% endif %}

    <div class="ui container segment stretched green">
        <div class="ui header big">Profile of the business</div>
        <p>The information provided in this section will be <strong>public</strong> and <strong>all users</strong> will be able to see it online</p>
        <div class="ui divider"></div>
        <div class="field">
            <label>Title of the listing</label>
            <input type="text" name="title" id="title" value="{% if profile.get('title') %}{{ profile.get('title') }}{% endif %}">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea type="text" id="description" rows="3" name="description">{% if profile.get('description') %}{{ profile.get('description') }}{% endif %}</textarea>
        </div>
        <div class="field">
            <label>Asking price</label>
            <div class="ui right labeled input">
                <label for="amount" class="ui label">CA$</label>
                <input type="text" name="asking_price" value="{% if profile.get('asking_price') %}{{ profile.get('asking_price') }}{% endif %}">
                <div class="ui basic label">.00</div>
            </div>
        </div>
        <div class="field">
            <label>Is your business a Franchise?</label>
            <select id="franchise" name="franchise" class="ui fluid dropdown">
                <option value="{% if profile.get('franchise') %}{{ profile.get('franchise') }}{% endif %}"></option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

    </div>

{#TODO complete the verification for all forms#}

<!-- Form validation -->
<script>
    $( ".ui.form" ).form({
        fields: {
            franchise: {
                identifier: 'franchise',
                rules: [{
                    type: 'empty',
                    prompt: 'This is a required field'
                }]
            },
            foundation_year: {
                identifier: 'foundation_year',
                rules: [{
                    type: 'number',
                    prompt: 'Enter a valid year'
                    // TODO use better validator for a year
                },{
                    type:'empty',
                    prompt: 'This field is required'
                }]
            },
            gross_profit: {
                identifier: 'gross_profit',
                rules: [{
                    type: 'number',
                    prompt: 'Only numbers are allowed'
                }]
            },
            dev_stage: {
                identifier: 'dev_stage',
                rules: [{
                    type: 'empty',
                    prompt: 'You have to indicate the development stage of the business'
                }]
            },
            ebitda: {
                identifier: 'ebitda',
                rules: [{
                    type: 'number',
                    prompt: 'Only numbers are allowed'
                }]
            },
            inventory: {
                identifier: 'inventory',
                rules: [{
                    type: 'number',
                    prompt: 'Only numbers are allowed'
                }]
            },
            office_furniture: {
                identifier: 'office_furniture',
                rules: [{
                    type: 'number',
                    prompt: 'Only numbers are allowed'
                }]
            }
        },
        inline: true,
    });
</script>