
{% extends "includes/layout.html" %}

{% block title %} - {{ session.get('statics')['home_page'] }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        #full-screen{
            margin-bottom: 200px;
            margin-top:50px;
        }
    </style>

{% endblock %}

{% block body %}
<!-- Content of the page -->
<div class="ui container basic segment">

<div class="ui huge header">CanadaBizTrasnfer.ca</div>
<p class="ui small header">{{ session.get('statics')['home_page_intro'] }}</p>

    <div class="ui grid" id="full-screen">
        <div class="ui column row">
            <div class="ui two wide computer column computer only"></div>

            <div class="ui six wide computer eight wide tablet sixteen wide phone column">
                <div class="ui segment stretched">
                    <p>{{ session.get('statics')['intro_retire'] }}</p>
                    <p>{{ session.get('statics')['intro_changebiz'] }}</p>
                    <p>{{ session.get('statics')['intro_exitbiz'] }}</p>
                </div>
                <a href="/newpost/0/1"><button class="ui fluid green massive button"><i class="sign out icon"></i>{{ session.get('statics')['index_sell_button'] }}</button></a>
            </div>
            <div class="ui six wide computer eight wide tablet sixteen wide phone column">
                <div class="ui segment stretched">
                    <p>{{ session.get('statics')['intro_invest'] }}</p>
                    <p>{{ session.get('statics')['intro_operate'] }}</p>
                    <p>{{ session.get('statics')['intro_idea'] }}</p>
                </div>
                <a href="/listings/" class="ui fluid red massive button"><i class="sign in icon"></i>{{ session.get('statics')['index_buy_button'] }}</a>
            </div>
            <div class="ui two wide column computer only"></div>
        </div>
    </div>
</div>

{% endblock %}