
{% extends "includes/layout.html" %}

{% block content %}



<div class="ui container basic segment">
    <div class="ui huge header">{{ STATICS['index_welcome'] }}</div>
    <p class="ui medium header">BizTransfer is website that offers matching business owners who want to sell their businesses with potential investors</p>

    <div class="ui grid">
        <div class="ui column row">
            <div class="ui three wide computer column computer only"></div>
            <div class="ui five wide computer eight wide tablet column">
                <div class="ui segment stretched">
                    <p>Do you want to retire?</p>
                    <p>You want to change business?</p>
                    <p>Want an exit from your business?</p>
                </div>
            </div>
            <div class="ui five wide computer eight wide tablet column">
                <div class="ui segment stretched">
                    <p>You want to invest?</p>
                    <p>Get a ready to operate business?</p>
                    <p></p>
                </div>
            </div>
            <div class="ui three wide column computer only"></div>
        </div>

        <div class="ui column row">
            <div class="ui three wide computer column computer only"></div>
            <div class="ui five wide computer eight wide tablet column">
                <a href="/newpost"><button class="ui fluid green massive button"><i class="sign out icon"></i>Sell your business</button></a>
            </div>
            <div class="ui five wide computer eight wide tablet column">
                <a href="/listings/" class="ui fluid red massive button"><i class="sign in icon"></i>{{ STATICS['index_buy_button'] }}</a>
            </div>
            <div class="ui three wide column computer only"></div>
        </div>
    </div>
</div>




<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>


{% endblock %}

-->