
{% extends "includes/layout.html" %}

{% block title %} - Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    {{ moment.include_moment() }}
    <style>

    </style>

{% endblock %}

{% block body %}

{% for post in enterprisesDB %}


<div class="ui container segment stacked">

    <a href="/ent/{{ post['id'] }}" class="ui header">{{ post['title'] }}</a>

    <div class="ui segment grid">
        <div class="ui column row">
            <div class="ui four wide column">
                Description
            </div>
            <div class="ui twelve wide column">
                {{ post.get('description') }}
            </div>
        </div>
        <div class="ui column row">
            <div class="ui four wide column">
                Visits: {{ post.get('visits') }}
            </div>
            <div class="ui four wide column">
                Last modified: {{ moment(post.get('modified')).fromNow(refresh=True) }}
            </div>
            <div class="ui four wide column">
                Asking price: CA$ {{ post.get('ask_price') }}
            </div>
            <div class="ui four wide column">
                ABITDA: CA$ {{ post.get('ebitda') }}
            </div>
        </div>

    </div>


</div>





{% endfor %}


<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>


{% endblock %}

