{% extends "includes/layout.html" %}

{% block title %} - {{ session.get('statics')['login'] }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>

    </style>

{% endblock %}


{% block body %}


<div class="ui container basic segment">
    <div class="ui huge header">{{ session.get('statics')['login_info'] }}</div>
    <p class="ui medium header">{{ session.get('statics')['login_info2'] }}</p>

    <div class="ui grid">
        <div class="ui column row"></div>
        <div class="ui column row">
            <div class="ui three wide computer two wide tablet column only"></div>
            <div class="ui ten wide computer twelve wide tablet sixteen wide phone column">
                <div class="ui segment stretched">

                    <form method="POST" class="ui form" action="">
                        <div class="field">
                            <label>{{ session.get('statics')['email'] }}</label>
                            <input type="text" name="email" placeholder="">
                        </div>
                        <div class="field">
                            <label>{{ session.get('statics')['password'] }}</label>
                            <input type="password" name="password" placeholder="">
                        </div>
                        <input type="submit" class="ui animated large submit button primary fluid" value="{{ session.get('statics')['login'] }}">
                    </form>
                    <a href="/login/forgetpw/">{{ session.get('statics')['forget_pw'] }}</a>
                </div>
            </div>
            <div class="ui three wide computer two wide tablet column only"></div>
        </div>
    </div>
</div>

<div class="ui horizontal divider">{{ session.get('statics')['or'] }}</div>

<!-- Signup -->
<div class="ui container basic segment">
    <div class="ui grid">
        <div class="ui column row"></div>
        <div class="ui column row">
            <div class="ui three wide computer two wide tablet column only"></div>
            <div class="ui ten wide computer twelve wide tablet sixteen wide phone column">
                <div class="ui segment stretched">
                    <p class="ui small header">{{ session.get('statics')['or_signup'] }}</p>
                    <a href="/signup/" class="ui button animated large green fluid">{{ session.get('statics')['signup'] }}</a>
                </div>
            </div>
            <div class="ui three wide computer two wide tablet column only"></div>
        </div>
    </div>
</div>


<!-- Form validation -->
<script>
    $( ".ui.form" ).form({
        fields: {
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: 'Please enter a valid email'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: 'Please enter your password'
                }]
            }
        },
        inline: true,
    });
</script>

<!-- Sidebar script -->
<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>

{% endblock %}