
{% extends "includes/layout.html" %}

{% block title %} - List your business for sale{% endblock %}

{% block head %}
    {{ super() }}
    <style>

    </style>

{% endblock %}

{% block body %}

<div class="ui container basic segment grid">
    <div class="ui column row">
<!-- Progress -->
    <!-- TODO add a link to move to different steps -->
        <div class="ui five wide column">
            <div class="ui vertical steps">
                <a href="{% if step > 1 %}/newpost/{{ current_profile.get('id') }}/1{% endif %}" class="{% if step > 1 %} completed {% elif step == 1 %} active {% endif %} step">
                    <i class="newspaper icon"></i>
                    <div class="content">
                    <div class="title">General Information</div>
                    <div class="description">Introduce your business</div>
                </div>
                </a>
                <a href="{% if step > 2 %}/newpost/{{ current_profile.get('id') }}/2{% endif %}" class="{% if step > 2 %} completed {% elif step == 2 %} active {% endif %} step">
                    <i class="users icon"></i>
                    <div class="content">
                        <div class="title">Profile</div>
                        <div class="description">Administrative, particularities</div>
                    </div>
                </a>
                <a href="{% if step > 3 %}/newpost/{{ current_profile.get('id') }}/3{% endif %}" class="{% if step > 3 %} completed {% elif step == 3 %} active {% endif %} step">
                    <i class="line chart icon"></i>
                    <div class="content">
                        <div class="title">Financial Information</div>
                        <div class="description">Revenue, Profit, Accounting</div>
                    </div>
                </a>
                <a href="{% if step > 4 %}/newpost/{{ current_profile.get('id') }}/4{% endif %}" class="{% if step > 4 %} completed {% elif step == 4 %} active {% endif %} step">
                    <i class="configure icon"></i>
                    <div class="content">
                        <div class="title">Non Financial Info</div>
                        <div class="description">Other info about the business</div>
                    </div>
                </a>
                <a href="{% if step > 5 %}/newpost/{{ current_profile.get('id') }}/5{% endif %}" class="{% if step > 5 %} completed {% elif step == 5 %} active {% endif %} step">
                    <i class="signal icon"></i>
                    <div class="content">
                        <div class="title">Advanced Information</div>
                        <div class="description">More about the business</div>
                    </div>
                </a>
                <a href="{% if step > 6 %}/newpost/{{ current_profile.get('id') }}/6{% endif %}" class="{% if step > 6 %} completed {% elif step == 6 %} active {% endif %} step">
                    <i class="sticky note icon"></i>
                    <div class="content">
                        <div class="title">Ready for post</div>
                        <div class="description">Ready to send for review</div>
                    </div>
                </a>
            </div>
        </div>
<!-- Dynamic forms -->
        <div class="ui eleven wide column">
            <form method="POST" class="ui form" action="">
            {%  if step == 1 %}
                {% include "includes/newpost/_general.html" %}
            {% elif step == 2 %}
                {% include "includes/newpost/_profile.html" %}
            {%  elif step == 3 %}
                {% include "includes/newpost/_financial.html" %}
            {% elif step == 4 %}
                {% include "includes/newpost/_non_financial.html" %}
            {% elif step == 5 %}
                {% include "includes/newpost/_advanced.html" %}
            {% elif step == 6 %}
                {% include "includes/newpost/_preview.html" %}
            {% endif %}
                <input type="submit" class="ui button large green right floated" value="Next">
                <a class="ui button red large" href="/dashboard">Cancel</a>
                {% if step > 1 %}
                    <a class="ui button primary right floated large " href="/newpost/{{ current_profile.get('id') }}/{{ step - 1 }}/">Previous</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>



<script>
    $('select.dropdown')
    .dropdown();
</script>
<script>
    $('.ui.checkbox')
    .checkbox();
</script>


{% endblock %}
