{% extends "includes/layout.html" %}

{% block title %} - {{ profile.general.get('title') }}{% endblock %}

{% block head %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block body %}


<div class="ui container segment stacked">

    <p class="ui huge header">{{ profile.get('profile').get('title') }}</p>

    <div class="ui grid">
        <div class="ui column row">
            <div class="ui five wide computer tablet sixteen wide phone column">
                <div class="ui segment">
                    <p>Enterprise posted: {{ moment(profile.get('submit_date')).fromNow(refresh=True)  }}</p>
                    <p>Last modified: {{ moment(profile.get('modified')).fromNow(refresh=True) }}</p>
                </div>
            </div>
            <div class="ui eleven wide computer tablet sixteen wide phone  column">

{#                <div class="ui styled accordion">#}
{#                  <div class="title active">#}
{#                    <i class="dropdown icon"></i>#}
{#                    Profile Description#}
{#                  </div>#}
{#                  <div class="content active">#}
{#                    <p class="transition active">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>#}
{#                  </div>#}
{#                  <div class="title">#}
{#                    <i class="dropdown icon"></i>#}
{#                    Financial information#}
{#                  </div>#}
{#                  <div class="content">#}
{#                    <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>#}
{#                  </div>#}
{#                  <div class="title">#}
{#                    <i class="dropdown icon"></i>#}
{#                    Non Financial information#}
{#                  </div>#}
{#                  <div class="content">#}
{#                    <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>#}
{#                    <p class="transition visihiddenble">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>#}
{#                  </div>#}
{#                </div>#}


                <div class="ui segment">
                    <div class="ui grid column row">
                        <div class="ui six wide column header tiny">Description</div>
                        <div class="ui ten wide column">{{ profile.get('profile').get('description') }}</div>
                    </div>
                    <div class="ui grid column row">
                        <div class="ui six wide column header tiny">Asking price</div>
                        <div class="ui ten wide column">CA$ {{ '{0:,.2f}'.format(profile.get('profile').get('asking_price')) }}</div>
                    </div>
                </div>

                <div class="ui segment grid">
                    <div class="ui column row">
                        <div class="ui column header">Financial information</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Gross Revenue</div>
                        <div class="ui eight wide column">CA$ {{ '{0:,.2f}'.format(profile.get('financial').get('gross_revenue')) }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Gross Profit</div>
                        <div class="ui eight wide column">CA$ {{ '{0:,.2f}'.format(profile.get('financial').get('gross_profit')) }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">EBITDA</div>
                        <div class="ui eight wide column">CA$ {{ '{0:,.2f}'.format(profile.get('financial').get('ebitda')) }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Inventory</div>
                        <div class="ui eight wide column">CA$ {{ '{0:,.2f}'.format(profile.get('financial').get('inventory')) }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Office furniture</div>
                        <div class="ui eight wide column">CA$ {{ '{0:,.2f}'.format(profile.get('financial').get('office_furniture')) }}</div>
                    </div>
                </div>

                <div class="ui segment grid">
                    <div class="ui column row">
                        <div class="ui column header">Non Financial information</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Foundation year</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('foundation_year') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Reason for the sale</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('reason') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Targeted customer</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('target') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Developpement stage of the business</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('dev_stage') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">The seller is willing to finance</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('finance') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">The seller is willing to support after the sale</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('after_sale') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">The sale includes a patent or a license</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('patent') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Full-time employees</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('fulltime') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Part-time employees</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('parttime') }}</div>
                    </div>
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">The sale include a lease/rent</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('rent') }}</div>
                    </div>
                    {% if profile.get('non_financial').get('rent') == 'Yes' %}
                    <div class="ui column row">
                        <div class="ui eight wide column header tiny">Lease/Rent end date</div>
                        <div class="ui eight wide column">{{ profile.get('non_financial').get('end_date') }}</div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>



</div>





<!-- Side bar menu -->
<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>

<script>
    $('.ui.accordion')
      .accordion()
    ;
</script>

{% endblock %}

