
{% extends "includes/layout.html" %}

{% block content %}




<div class="ui container segment stacked green">

    <a class="ui header">{{ profile['entr_name'] }}</a>

    <div class="ui segment">

      <!-- Table -->

        <table class="table" style="width:100%">
                    <tr>
                <th width="50%">ID of the entreprise</th>
                <th width="50%">{{ profile['id'].rjust(6, '0') }}</th>
              </tr>
              <tr>
                <td>Nom de l'entreprise</td>
                <td>{{ profile['entr_name'] }}</td>
              </tr>
              <tr>
                <td>NEQ</td>
                <td>{{ profile['neq'] }}</td>
              </tr>

        </table>
    </div>


</div>







<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>


{% endblock %}

