
{% extends "includes/layout.html" %}

{% block title %} - {{ session.get('statics')['signup'] }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>

    </style>

{% endblock %}



{% block body %}


<div class="container panel-default col-sm-12">


<div class="ui container basic segment">
    <div class="ui huge header">{{ session.get('statics')['enter_personal_info'] }}</div>
    <p class="ui medium header">{{ session.get('statics')['enter_personal_info2'] }}</p>

    <div class="ui grid">
        <div class="ui column row"></div>
        <div class="ui column row">
            <div class="ui three wide computer column computer only"></div>
            <div class="ui ten wide computer sixteen wide tablet column">
                <div class="ui segment stretched">

                    <form method="POST" class="ui form" action="">
                        <div class="field">
                            <label>{{ session.get('statics')['email'] }}</label>
                            <input type="text" name="email" placeholder="" id="username">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>{{ session.get('statics')['first_name'] }}</label>
                                <input type="text" name="firstname" placeholder="">
                            </div>
                            <div class="field">
                                <label>{{ session.get('statics')['last_name'] }}</label>
                                <input type="text" name="lastname" placeholder="">
                            </div>
                        </div>
                        <div class="field">
                            <label>{{ session.get('statics')['phone'] }}</label>
                            <input type="text" name="phone" placeholder="">
                        </div>
                        <div class="field">
                            <label>{{ session.get('statics')['password'] }}</label>
                            <input type="password" name="password" placeholder="">
                        </div>
                        <div class="field">
                            <label>{{ session.get('statics')['password2'] }}</label>
                            <input type="password" name="password2" placeholder="">
                        </div>

                        <input type="submit" class="ui animated large button primary green fluid" value="{{ session.get('statics')['next'] }}">
                    </form>

                </div>
            </div>
            <div class="ui three wide column computer only"></div>
        </div>
    </div>
</div>


<!-- Form validation -->
<script>
    $( ".ui.form" ).form({
        fields: {
            email: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: 'Please enter a valid email'
                }]
            },
            firstname: {
                identifier: 'firstname',
                rules: [{
                    type: 'empty',
                    prompt: 'Please enter your first name'
                }]
            },
            lastname: {
                identifier: 'lastname',
                rules: [{
                    type: 'empty',
                    prompt: 'Please enter your last name'
                }]
            },
            phone: {
                identifier: 'phone',
                rules: [{
                    type: 'decimal',
                    prompt: 'Please enter only digits'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'length[6]',
                    prompt: 'Please enter your password'
                }]
            },
            password2: {
                identifier: 'password2',
                rules: [{
                    type: 'match[password]',
                    prompt: 'Your have to match your password'
                }]
            }
        },
        inline: true,
    });
</script>

<!-- Side bar menu -->
<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>

</div>



{% endblock %}
