<html>
<head>
    <meta charset="utf-8">
<!-- Head block -->
    {% block head %}
        <title>{{ session.get('statics')['site_name'] }}{% block title %}{% endblock %}</title>
    {% endblock %}

<!-- Semantic UI and jQuery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109858781-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109858781-1');
    </script>

<!-- Push padding -->
    <style>
        .pusher{
            padding-top: 50px;
        }
    </style>
</head>



<body>
<!-- Hidden menu -->
    <div class="ui inverted labeled icon left inline vertical sidebar menu uncover ">
        <a href="/" class="item"><i class="home icon"></i> Home</a>
            {% if session.get('statics')['language'] == 'en' %}
        <a href="/lang/fr/" class="item">Français</a>
            {% else %}
        <a href="/lang/en/" class="item">English</a>
            {% endif %}
            {% if session['logged'] %}
        <a href="/signout/" class="item">Sign out</a>
            {% else %}
        <a href="/login/" class="item">Login</a>
        <a href="/signup/" class="item">Sign up</a>
            {% endif %}
    </div>
<!-- Top menu -->
    <div class="ui basic labeled top fixed demo menu">
        <div class="item" id="toggle">
            <i class="sidebar icon"></i>Menu
        </div>

        {% if session['logged'] %}
        <a href="/dashboard" class="ui right item"><i class="dashboard icon"></i>Dashboard</a>
        <a href="/signout/" class="ui item"><i class="sign out icon"></i>Sign out</a>
        {% else %}
        <a href="/login/" class="ui right item"><i class="sign in icon"></i>Login</a>
        <a href="/signup/" class="ui item"><i class="add user icon"></i>Sign up</a>
        {% endif %}
    </div>

<!-- CONTENT -->

<div class="pusher">

    <div class="ui container">
        {% include "includes/_messages.html" %}
    </div>

    {% block body %}

    <!-- BODY COMES HERE  -->

    {% endblock %}

</div>

<!-- FOOTER -->
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">For Sellers</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Two</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">For Buyers</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Two</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">For Pros</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Two</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">BizTrasnfer.ca</h4>
                <p>BizTrasnfer is a web application that build links between business owners
                    who want to sell their businesses and investors.</p>
                <a href="#" class="ui">Show me how this works</a>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <!-- <img src="static/img/logo.png" class="ui centered mini image"> -->
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
</div>

<script>
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>

</body>
</html>